@import url('https://fonts.googleapis.com/css?family=Audiowide');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');     

body{
    background-color: rgb(161, 225, 250);
    font-family: 'Quicksand';
}

input{
    background-color: rgb(252, 208, 183);
    border-radius: 5px;
    font-size: 1em;
}

h1{
    font-family: 'Audiowide';
    font-size: 3em;
    margin-top: 0;
    animation: 0.5s linear slideInFromTop;
}

#search-results {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.5em;
}

#search{
    font-size: 1.2em
}

button:hover{
    background-color: rgb(179, 136, 179);
}

button{
    border-radius: 5px;
    font-size: 1em;
    font-family: 'Quicksand';
}

@keyframes slideInFromTop {
    from {
        transform: translateY(-50vh);

    }
    to {
        transform: translateY(0vh);
    }
}