body{
    background-color: rgb(161, 225, 250);
}

input{
    background-color: rgb(252, 208, 183);
    border-radius: 5px;
}

h1{
    font-family: 'Audiowide';
}

#search-results {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button:hover{
    background-color: rgb(179, 136, 179);
}

button{
    border-radius: 5px;
}