@import url('https://fonts.googleapis.com/css?family=Audiowide');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');     

body{
    background-color: rgb(161, 225, 250);
}

input{
    background-color: rgb(252, 208, 183);
    border-radius: 5px;
}

h1{
    font-family: 'Audiowide';
}

#search-results {
    font-family: 'Quicksand';
    margin-top: 1em;
    margin-bottom: 1em;
}

button:hover{
    background-color: rgb(179, 136, 179);
}

button{
    border-radius: 5px;
}